.git
.github
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.venv
.env
.env.*
!.env.example
storage/uploads/*
storage/vector_db/*
docker/env/.env.*
!docker/env/.env.*.example
docker/ragforge_mongodb_data
*.pdf
*.zip
*.tar
*.tar.gz
