# MongoDB Docker root credentials
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# MongoDB application connection
MONGODB_DATABASE=ragforge
MONGODB_URL=mongodb://USERNAME:PASSWORD@localhost:27007/ragforge?authSource=admin